<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>JAVA_SERVLET</display-name>
	<servlet>
		<servlet-name>Demo1</servlet-name>
		<display-name>Demo1</display-name>
		<description></description>
		<servlet-class>Demo1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo3</servlet-name>
		<display-name>Demo3</display-name>
		<description></description>
		<servlet-class>Demo3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo4</servlet-name>
		<display-name>Demo4</display-name>
		<description></description>
		<servlet-class>Demo4</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Demo5</servlet-name>
		<display-name>Demo5</display-name>
		<description></description>
		<servlet-class>Demo5</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddDemo</servlet-name>
		<display-name>AddDemo</display-name>
		<description></description>
		<servlet-class>AddDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrimeDemo</servlet-name>
		<display-name>PrimeDemo</display-name>
		<description></description>
		<servlet-class>PrimeDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Patient</servlet-name>
		<display-name>Patient</display-name>
		<description></description>
		<servlet-class>Patient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PatientInsert</servlet-name>
		<display-name>PatientInsert</display-name>
		<description></description>
		<servlet-class>PatientInsert</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateDemo</servlet-name>
		<display-name>updateDemo</display-name>
		<description></description>
		<servlet-class>updateDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelDemo</servlet-name>
		<display-name>DelDemo</display-name>
		<description></description>
		<servlet-class>DelDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginDemo</servlet-name>
		<display-name>LoginDemo</display-name>
		<description></description>
		<servlet-class>LoginDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpReqDemo</servlet-name>
		<display-name>HttpReqDemo</display-name>
		<description></description>
		<servlet-class>HttpReqDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>studDemo</servlet-name>
		<display-name>studDemo</display-name>
		<description></description>
		<servlet-class>studDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HitCounter</servlet-name>
		<display-name>HitCounter</display-name>
		<description></description>
		<servlet-class>HitCounter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TableDemo</servlet-name>
		<display-name>TableDemo</display-name>
		<description></description>
		<servlet-class>TableDemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>urlrewritedemo</servlet-name>
		<display-name>urlrewritedemo</display-name>
		<description></description>
		<servlet-class>urlrewritedemo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>doget_postmethod</servlet-name>
		<display-name>doget_postmethod</display-name>
		<description></description>
		<servlet-class>doget_postmethod</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo1</servlet-name>
		<url-pattern>/Demo1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo3</servlet-name>
		<url-pattern>/Demo3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo4</servlet-name>
		<url-pattern>/Demo4</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Demo5</servlet-name>
		<url-pattern>/Demo5</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddDemo</servlet-name>
		<url-pattern>/AddDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrimeDemo</servlet-name>
		<url-pattern>/PrimeDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Patient</servlet-name>
		<url-pattern>/Patient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PatientInsert</servlet-name>
		<url-pattern>/PatientInsert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateDemo</servlet-name>
		<url-pattern>/updateDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelDemo</servlet-name>
		<url-pattern>/DelDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginDemo</servlet-name>
		<url-pattern>/LoginDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpReqDemo</servlet-name>
		<url-pattern>/HttpReqDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>studDemo</servlet-name>
		<url-pattern>/studDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HitCounter</servlet-name>
		<url-pattern>/HitCounter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableDemo</servlet-name>
		<url-pattern>/TableDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>urlrewritedemo</servlet-name>
		<url-pattern>/urlrewritedemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>doget_postmethod</servlet-name>
		<url-pattern>/doget_postmethod</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
